src/main/app/getnewswprices.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd">
    <data-mapper:config name="csv_to_map" transformationGraphPath="csv_to_map.grf" doc:name="csv_to_map"/>
    <flow name="getnewswpricesFlow1" doc:name="getnewswpricesFlow1">
        <file:inbound-endpoint path="c:\temp\" responseTimeout="10000" doc:name="LoadPricesCSV">
            <file:filename-regex-filter pattern="aiportCodePrices.csv" caseSensitive="true"/>
        </file:inbound-endpoint>
        <logger message="PRICES CSV: #[message.payload]" level="INFO" doc:name="Log CSV "/>
        <data-mapper:transform config-ref="csv_to_map" doc:name="CSV To Map"/>
        <logger message="PRICES MAP: #[message.payload]" level="INFO" doc:name="Log Maps"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="one-way" queryKey="UPDATE_PRICE" queryTimeout="-1" connector-ref="SouthwestPriceDB" doc:name="Save to Database">
        </jdbc-ee:outbound-endpoint>
        <logger message="PRICES DONE: #[message.payload]" level="INFO" doc:name="end logger"/>
    </flow>
</mule>
