src/main/app/muleessentials2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
    <data-mapper:config name="json_to_pojo" transformationGraphPath="json_to_pojo.grf" doc:name="json_to_pojo"/>
    <jms:activemq-connector name="Active_MQ" specification="1.1" brokerURL="vm://localhost" validateConnections="true" doc:name="Active MQ"/>
    <flow name="getIndexHtml" doc:name="getIndexHtml">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8088" path="tickets" doc:name="HTTP"/>
        <logger message="INBOUND PAYLOAD: #[message.inboundProperties['http.method']] : #[message.payload.toString()]" level="INFO" doc:name="Log Payload"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties['http.method'] == 'POST']">
                <logger message="AFTER JSON-TO-POJO: #[message.payload]" level="INFO" doc:name="Logger"/>
                <data-mapper:transform config-ref="json_to_pojo" doc:name="JSON To Pojo"/>
                <all doc:name="All">
                    <flow-ref name="GetPriceOfferingUnited" doc:name="SF-GetPriceOfferingUnited"/>
                    <component class="com.mulesoft.training.pricing.PriceOfferingDelta" doc:name="PriceOfferingDelta"/>
                </all>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
            </when>
            <otherwise >
                <parse-template location="src\main\resources\index.html" doc:name="Return page"/>
                <http:response-builder contentType="text/html" doc:name="HTTP Response Builder">
                    <http:cache-control noCache="true"/>
                </http:response-builder>
            </otherwise>
        </choice>
    </flow>
    <sub-flow name="GetPriceOfferingUnited" doc:name="GetPriceOfferingUnited">
        <json:object-to-json-transformer doc:name="RequestToJson"/>
        <jms:outbound-endpoint exchange-pattern="request-response" queue="UnitedQuoteServer" connector-ref="Active_MQ" doc:name="JMS"/>
        <json:json-to-object-transformer doc:name="JsonToOffer" ignoreBadInput="true" returnClass="com.mulesoft.training.pricing.PriceOffer"/>
    </sub-flow>
    <flow name="RemoteUnitedServer" doc:name="RemoteUnitedServer">
        <jms:inbound-endpoint exchange-pattern="request-response" queue="UnitedQuoteServer" connector-ref="Active_MQ" doc:name="JMS"/>
        <logger message="ENTERING UNITED JMS FLOW" level="INFO" doc:name="Logger"/>
        <json:json-to-object-transformer returnClass="com.mulesoft.training.pricing.PriceRequest" doc:name="JsonToRequest"/>
        <component class="com.mulesoft.training.pricing.PriceOfferingUnited" doc:name="GetPriceOfferingUnited"/>
        <json:object-to-json-transformer doc:name="OfferToJson"/>
        <logger message="EXITING UNITED JMS FLOW" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
